<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow navbar-light bg-light">
  <div class="container">
    <h5 class="my-0 mr-md-auto font-weight-normal">Tracks Library</h5>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="playlist border box-shadow">
        <h3 class="text-muted pl-3">Плейлист</h3>
        <div class="row">
          <div class="col-3">
            <div class="row no-gutters">
              <div class="col-10">
                <p class="titles darker-font">Исполнитель</p>
              </div>
              <div class="col-2">
                <button class="btn btn-info sort-button" (click)="sortByBandUp()">&#708;</button>
                <button class="btn btn-info sort-button" (click)="sortByBandDown()">&#709;</button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row no-gutters">
              <div class="col-10">
                <p class="text-muted titles">Название</p>
              </div>
              <div class="col-2">
                <button class="btn btn-info sort-button" (click)="sortByTitleUp()">&#708;</button>
                <button class="btn btn-info sort-button" (click)="sortByTitleDown()">&#709;</button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row no-gutters">
              <div class="col-10">
                <p class="titles darker-font">Жанр</p>
              </div>
              <div class="col-2">
                <button class="btn btn-info sort-button" (click)="sortByGenreUp()">&#708;</button>
                <button class="btn btn-info sort-button" (click)="sortByGenreDown()">&#709;</button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row no-gutters">
              <div class="col-10">
                <p class="text-muted titles">Год</p>
              </div>
              <div class="col-2">
                <button class="btn btn-info sort-button" (click)="sortByYearUp()">&#708;</button>
                <button class="btn btn-info sort-button" (click)="sortByYearDown()">&#709;</button>
              </div>
            </div>
          </div>
        </div>
        <app-track
          *ngFor="let t of tracks | slice:firstIndex:lastIndex"
          [track]="t"
        ></app-track>
      </div>
    </div>
    <div class="col-lg-3 mt-4 mt-lg-0">
      <div class="filters border box-shadow">
        <h3 class="text-muted pl-3">Фильтр</h3>
        <app-filters [bands]="bands" (bandFilter)="bandFilter($event)"
                      [genres]="genres" (genreFilter)="genreFilter($event)"
                      [years]="years" (yearFilter)="yearFilter($event)"
        ></app-filters>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li *ngFor="let page of getArrayFromTracks(tracks.length); let i = index" class="page-item">
        <a class="page-link" (click)="changePage(i)" href="#">{{i+1}}</a>
      </li>
    </ul>
  </nav>
</div>